nav b a{
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bolder;
    padding: 5px;
    margin-right: 5px;
    position: relative;
    background-color: green;
}
body{
    background-color: #e6e6fa;
    color: #191970;
    font-family: Arial, Verdana, sans-serif;

}
.alignText{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
header{
    height: 50px;
    margin-bottom: 10px;
    position: relative;
    background-color: #191970;
    color: #e6e6fa;
    line-height: 200%;
    font-family: sans-serif, Georgia, 'Times New Roman';
    text-shadow: #CCCCCC 3px 3px 5px;
}
main h2{
    background-color: rgb(188, 139, 244);
    color: #191970;
    line-height: 200%;
    font-family: sans-serif, Georgia, 'Times New Roman';
    text-align: center;
}
p{
    font-size: 0.9em;
    text-indent: 3em;
}
ul li{
    font-weight: bold;
}
.feature{
    color: #C70000;
}
footer{
    color: #333333;
    font-size: 0.75em;
    font-style: italic;
}
.company{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 1.25em;
    color: red;
}
#ul1{
    color: green;
}
#ul2{
    color: blue;
}
#ul3{
    color: violet;
}