/* Common css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Verdana, Tahoma, "Trebuchet MS", sans-serif;
  color: black;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  background-color: #8abb7c;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  padding: 1.3rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* Add another layer to apply backdrop filter effect */
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

/* Logo */
.logo {
  width: 5rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-right: 1rem;
}

.logo a {
  display: flex;
  align-items: center;
}

/* Navbar */
nav a {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 1.2rem;
  padding: 0.5rem 0.5rem;
  transition: 0.3s ease;
  position: relative;
}

/* Navbar effect */
nav a span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #e5e3d0;
  border-radius: 20px;
  transform: scale(0);
  opacity: 0;
  transition: 0.5s;
}

nav a:hover span{
  transform: scale(1);
  opacity: 1;
}



nav a#nav-login {
  border: 1px solid #e5e3d0;
  border-radius: 25px;
}

/* To hide navbar */
.hide {
  display: none;
}

.hamburger {
  position: absolute;
  right: 10%;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}

img#hamburger {
  width: 5rem;
  height: 4rem;
}

/* Tablet and phone */
@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  header {
    padding: 2%;
  }

  nav {
    display: flex;

    flex-direction: column;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
  }

  nav a {
    border-bottom: 1px solid #777676;
  }
}

/* Main */
main {
  width: 100%;
  min-height: 100vh;
}

/* Footer */
footer {
  width: 100%;
  height: 15rem;
  margin-top: auto;
  background-color: #e5e3d0;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding-top: 2rem;
}

footer .col{
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}

footer .col .brand{
  font-size: 2rem;
  font-weight: 700;
}

footer .col span{
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

footer .col img{
  width: 2.2rem;
  height: 2.2rem;
  margin: 0.5rem;
}

.contact{
  margin-bottom: 0.2rem;
}
.contact h4{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.contact p{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.follow h5{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.social a img{
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.5rem;
}

.social a img:hover{
  transform: scale(1.2);
}

.footer-nav{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.footer-nav h4{
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.footer-nav a{
  font-size: 1rem;
  padding: 0.2rem;
  transition: 0.2s ease;
}

.footer-nav a:hover{
  color: #8ABB7C;
}

.social{
  display: flex;
}

.payment{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payment h4{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.payment .gateway{
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.payment .gateway img{
  width: 1.9rem;
  height: 1.9rem;
  margin: 0.5rem;
}

footer .col .version{
  font-style: italic;
}



/* Form */
form {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.form-container {
  background-color: #e5e3d0;
  border-radius: 6px;
}

input,
textarea {
  border-radius: 6px;
  background-color: #33331e;
  color: #ffffff;
  padding: 0.3rem;
  outline: none;
  font-weight: 200;
}

/* Styles for input type submit */
input[type="submit"] {
  /* background-color: #c60cc6; */
  background-color: #7a7a45;
  height: 2rem;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  /* background-color: #a018a0; */
  background-color: #9b9b54;
  /* #a7a757 */
  color: white;
}

label {
  font-size: 1rem;
  font-weight: 500;
}

/* Words to be underlined, ex:"Sign Up" in login */
.underline-link a:hover {
  text-decoration: underline;
}

.form-control {
  padding: 5px;
}

/* Styles to be apply with js during form validation */
.form-control.error input,
.form-control.error textarea {
  border: 2px solid #f32750;
}

.form-control.success input,
.form-control.success textarea {
  border: 2px solid #0dd17c;
}

.form-control .error {
  color: red;
  font-size: 0.7rem;
  height: 0.65rem;
}
