* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Verdana, Tahoma, "Trebuchet MS", sans-serif;
  color: black;
}

html {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: #8abb7c;
}

footer {
  width: 100%;
  height: 10%;
  display: flex;
  margin-top: auto;
  background-color: #f9f7fa;
  justify-content: space-evenly;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
}

/* index page */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* Add another layer to apply backdrop filter effect */
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.logo {
  width: 5rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.logo a {
  display: flex;
  align-items: center;
}

nav a {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 1.2rem;
  width: ;
  transition: 0.3s ease;
}

nav a:hover,
nav a.active{
  color: #ffffff;
}

.hide {
  display: none;
}

.hamburger {
  position: absolute;
  right: 10%;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
}

img#hamburger {
  width: 5rem;
  height: 4rem;
}

/* Tablet and phone */
@media (max-width: 1024px) {

  .hamburger {
    display: block;
  }

  header {
    padding: 2%;
  }

  nav {
    display: flex;
    
    flex-direction: column;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
  }

  nav a {
    border-bottom: 1px solid #777676;
  }
}

/* Main */
main {
  width: 100%;
  height: 200%;
  margin-top: auto;
}

/* Form */
form {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.form-container{
  background-color: #E5E3D0;
  border-radius: 6px;
}

input,
textarea {
  border-radius: 6px;
  background-color: #33331e;
  color: #ffffff;
  padding: 0.3rem;
  outline: none;
  font-weight: 200;
}

input[type="submit"] {
  /* background-color: #c60cc6; */
  background-color: #7A7A45;
  height: 2rem;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  /* background-color: #a018a0; */
  background-color: #9b9b54;
  /* #a7a757 */
  color: white;
}


label {
  font-size: 1rem;
  font-weight: 500;
}

.underline-link a:hover {
  text-decoration: underline;
}

.form-control{
  padding: 5px;

}

.form-control.error input,
.form-control.error textarea {
  border: 2px solid #f32750;
}

.form-control.success input,
.form-control.success textarea {
  border: 2px solid #0dd17c;
}

.form-control .error {
  color: red;
  font-size: 0.7rem;
  height: 0.65rem;
}
